{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "eslint-config-synacor"
    ],
    "env": {
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "react/jsx-closing-bracket-location": 0,
        "react/jsx-curly-spacing": 2,
        "react/jsx-tag-spacing": [2, { "beforeSelfClosing": "never" }],
        "react/jsx-indent-props": "off",
        "react/jsx-wrap-multilines": 0,
        "no-cond-assign": "off",
        "no-console": "error",
        "keyword-spacing": "warn",
        "eqeqeq": "error",
        "indent": ["error", 4]
    }
}
