{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "eslint-config-synacor"
    ],
    "env": {
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "react/jsx-closing-bracket-location": "off",
        "react/jsx-curly-spacing": "error",
        "react/jsx-tag-spacing": ["error", {"beforeSelfClosing": "never"}],
        "react/jsx-indent-props": ["error", "first"],
        "react/jsx-first-props-per-line": "off",
        "react/jsx-wrap-multilines": "off",
        "react/jsx-indent": ["error", 4],
        "object-curly-spacing": ["error", "never"],
        "no-cond-assign": "off",
        "no-console": "error",
        "keyword-spacing": "warn",
        "eqeqeq": "error",
        "indent": ["off", 4, {"SwitchCase": 1}]
    }
}
