.form-element {
    font-family: $font-family;
    font-weight: 500;
    font-size: 0.75em;
    outline: none;
    background: $color-white;
    border-radius: 0.25em;
    border: 1px solid $color-mid-gray;
    padding: 0.65em 0.75em;
    transition: all 0.3s;
    overflow: hidden;

    &::placeholder {
        color: rgba(#000, 0.2);
    }

    &:focus-within {
        border-color: $color-sky-blue;
        box-shadow: 0 0 0 2px rgba($color-sky-blue, 0.25);
    }
}
