$width: 48px;
$height: 24px;
$kpadding: 3px;

.form-switch {
    @include size($height, $width);
    position: relative;
    transition: all $transition-duration-base;
    cursor: pointer;
    padding: 0;

    $ksize: ($height - 2px)  - 2 * $kpadding;
    $ktpadding: 2 * $kpadding;

    &::before {
        @include pseudo();
        @include size($ksize);
        top: 0;
        left: 0;
        margin: $kpadding;
        background: $color-mid-gray;
        transition: all $transition-duration-base;
    }

    &.selected {
        background: $color-sky-blue;

        &::before {
            margin-left: 100%;
            background: $color-white;
            transform: translateX(calc(-100% - #{$kpadding}));
        }
    }
}
