.drop-down {
    position: relative;
    user-select: none;

    > p {
        font: inherit;
        background: transparent;
        border: none;
        outline: none;
        border-radius: 0.15em;
        color: $color-sky-blue;
        cursor: pointer;

        &::placeholder {
            color: rgba(#000, 0.35);
        }
    }
}

.options {
    @include flex(column, flex-start);
    position: absolute;
    max-height: 30vh;
    overflow: auto;
    margin-top: 0.5em;
    box-shadow: 0 0.15em 0.5em rgba(#000, 0.1);
    transform: translateY(-0.5em) scaleY(0.5);
    transform-origin: center top;
    transition: opacity 0.3s, transform 0.3s;
    background: $color-white;
    pointer-events: none;
    z-index: 10;
    opacity: 0;

    &.visible {
        transition: opacity 0.3s, transform 0s;
        opacity: 1;
        pointer-events: all;
        transform: none;
    }

    > p {
        @include font(600, 1em);
        position: relative;
        transition: all 0.3s;
        color: rgba(#000, 0.9);
        cursor: pointer;
        padding: 0.5em 0.75em;
        width: 100%;

        &.selected {
            color: $color-white;
            background: $color-sky-blue;
        }

        &:hover:not(.selected) {
            background: $color-light-gray;
        }
    }
}

.hidden {
    display: none;
}
