.form-select {
    @include flex(row);
    overflow: hidden;
    overflow-x: auto;
    padding: 0;

    > button {
        @include font(600, 0.95em);
        padding: 0.75em 0.85em;
        transition: all $transition-duration-base;
        font-family: $font-family;
        text-transform: capitalize;

        &.active {
            background: $color-sky-blue;
            color: $color-white;

            &:hover {
                cursor: default;
            }
        }

        &:hover:not(.active) {
            background: rgba(#000, 0.05);
        }
    }
}
