.form-number {
    @include flex(row, stretch);
    font-size: 1em;
    padding: 0;
    border-color: transparent;

    button {
        @include flex(row, center, center);
        @include font(600);
        position: relative;
        color: $color-white;
        background: $color-sky-blue;
        transition: all $transition-duration-base;
        padding: 0.65em 0.75em;
        cursor: pointer;
        font-family: $font-family;

        &.disabled {
            cursor: not-allowed;
            pointer-events: none;
            background: $color-red;
        }

        &.decrease > svg {
            transform: rotate(90deg);
        }

        &.increase > svg {
            transform: rotate(-90deg);
        }

        > svg {
            @include size(1.2em);
            transition: all $transition-duration-base;
            stroke: $color-white;
            fill: $color-white;
        }
    }

    .value {
        @include font(600, 0.8em);
        padding: 0 1em;
        line-height: 2.275em;
        background: $color-light-gray;
    }
}
