.option {
    @include flex(row, flex-start, space-between);
    flex-wrap: wrap;
    padding-top: 0.35em;
    width: 100%;
    font-size: 18px;

    &:not(:last-child) {
        border-bottom: 1px solid $color-light-gray;
        padding-bottom: 0.35em;
    }

    > code {
        font-family: $font-stack-code;
        color: $color-dark-gray;
        font-weight: bold;
        font-size: 0.75em;
        padding: 0.2em 0.4em;
        margin-bottom: 0.2em;
        margin-right: 0.2em;
        background: $color-light-gray;
    }
}
