.form-select {
    @include flex(row);
    overflow: hidden;
    overflow-x: auto;
    padding: 0;

    > button {
        padding: 0.65em 0.75em;
        transition: all $transition-duration-base;
        font-weight: 600;
        font-family: $font-family;
        text-transform: capitalize;
        cursor: pointer;
        outline: none;
        border: none;
        background: inherit;

        &.active {
            background: $color-sky-blue;
            color: $color-white;

            &:hover {
                cursor: default;
            }
        }

        &:hover:not(.active) {
            background: rgba(#000, 0.05);
        }
    }
}
