.drop-down {
    position: relative;
    user-select: none;
    transition: none;

    > p {
        font: inherit;
        background: transparent;
        border: none;
        outline: none;
        border-radius: 0.15em;
        color: $color-sky-blue;
        cursor: pointer;
        line-height: 1.25em;

        &::placeholder {
            color: rgba(#000, 0.35);
        }
    }
}

.options {
    @include flex(column, flex-start);
    position: absolute;
    max-height: 40vh;
    overflow: auto;
    min-width: 10em;
    box-shadow: 0 0.15em 0.35em rgba(#000, 0.15);
    transition: all $transition-duration-base;
    background: $color-white;
    pointer-events: none;
    opacity: 0;
    z-index: 100;

    &.visible {
        pointer-events: all;
        opacity: 1;
    }

    > div {
        @include font(600, 1em);
        position: relative;
        transition: all $transition-duration-base;
        color: $color-dark-gray;
        cursor: pointer;
        padding: 0.65em 0.85em;
        width: 100%;

        &.selected {
            color: $color-white;
            background: $color-sky-blue;
        }

        &:hover:not(.selected) {
            background: $color-light-gray;
        }
    }
}

.hidden {
    display: none;
}
