$font-family: 'Open Sans';
$font-stack-code: consolas, "Liberation Mono", courier, monospace;

$color-sky-blue: #2196f3;
$color-red: #ff3b4c;
$color-white: #fff;
$color-light-gray: #f6f8fa;
$color-mid-gray: #f0f1f2;

