#api-selection {
    @include flex(row, stretch, flex-start);
    @include font(bold, 1.2em);

    > a {
        height: 100%;
        width: 1.8em;
        margin-left: auto;

        > svg {
            @include size(100%);
            fill: $color-sky-blue;
            transition: all $transition-duration-base;

            &:hover {
                fill: black;
            }
        }
    }

    .item {
        @include flex(row, center, space-between);

        > svg {
            @include size(1.2em);
            margin-left: 0.5em  ;
        }
    }
}
