#api-options {
    @include flex(column, flex-start);
    @include font(bold, 1.2em);
    @include size(100%);
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 0.5em;

    > button {
        display: none;
        width: 100%;
        padding: 0.5em 0;
        font-weight: bold;
        background: $color-sky-blue;
        color: $color-white;
    }

    .options {
        @include flex(column, flex-start);
        @include size(100%);
    }

    &.collapsed {
        .options {
            display: none;
        }
    }
}

@include breakpoint-mobile {
    #api-options {
        overflow: visible;

        > button {
            display: block;
        }
    }
}
