.root {
    position: relative;
    user-select: none;
    font: inherit;

    > p {
        position: relative;
        font: inherit;
        background: transparent;
        border: none;
        outline: none;
        border-radius: 0.15em;
        color: $color-sky-blue;
        cursor: pointer;

        &::placeholder {
            color: rgba(#000, 0.35);
        }

        &::before {
            @include pseudo();
            @include size(2px, 100%);
            background: currentColor;
            bottom: 0;
            left: 0;
        }
    }
}

.options {
    @include flex(column, flex-start);
    position: absolute;
    padding: 0.25em 0.5em;
    margin-left: -0.5em;
    margin-top: 0.25em;
    border-radius: 0.2em;
    box-shadow: 0 0.15em 0.5em rgba(#000, 0.1);
    transform: translateY(-0.5em);
    background: $color-white;
    transition: all 0.3s;
    pointer-events: none;
    z-index: 10;
    opacity: 0;

    &.visible {
        opacity: 1;
        pointer-events: all;
        transform: none;
    }

    > p {
        position: relative;
        transition: all 0.3s;
        color: rgba(#000, 0.9);
        cursor: pointer;

        &:hover {
            color: $color-sky-blue;
        }
    }
}

.disabled {
    cursor: not-allowed;
    color: $color-red;
}

.hidden {
    display: none;
}
