#intl-result {
    @include flex(row, center, center);
    margin-top: 1em;
    border-top: 2px solid $color-mid-gray;
    text-align: center;
    flex-grow: 1;

    > p {
        @include font(600, 1.2em);
    }
}
