#api-options {
    @include flex(column, flex-start);
    @include font(bold, 1.2em);
    margin-top: 0.5em;
    width: 50%;

    .option {
        @include flex(row, flex-start, space-between);
        width: 100%;
        padding-top: 0.35em;

        &:not(:last-child) {
            border-bottom: 1px solid $color-light-gray;
            padding-bottom: 0.35em;
        }

        > p {
            font-family: $font-stack-code;
            font-size: 0.75em;
            padding: 0.2em 0.4em;
            border-radius: 0.15em;
            margin-bottom: 0.2em;
            background: $color-light-gray;
        }
    }
}
